[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djongo = "*"
pymongo = "*"
dnspython = "*"
django-crum = "*"
django-currentuser = "*"

[dev-packages]

[requires]
python_version = "3.9"
