[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
pillow = "*"
djongo = "*"
dnspython = "*"
django-crum = "*"
django-currentuser = "*"
django-crispy-forms = "*"
python-social-auth = "*"
social-auth-app-django = "*"
django-sslserver = "*"
django-utils-six = "*"
django-imagekit = "*"
djando = "*"
pymongo = "==3.12.3"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
