body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke !important;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  height: 44px;
  width: 100%;
  background-color: white !important;
  border-bottom: 1px solid #000;
}

.leftNav{flex: 1; justify-content: center; display: flex;}
.leftNav a img{
  height: 100%;
}
.centerNav{flex: 1;display: flex; align-items: center; justify-content: center;}
.rightNav {flex: 1;display: flex;align-items: center;justify-content: space-evenly;}
.icon-div{
  width: 15%;
  max-width: 38px;
  cursor: pointer;
}
.icon{
  width: 100%
}
#srchResults{
  margin-left: 30%;
    width: 40%;
    max-width: 40%;
    overflow-y: auto;
    background-color: white;
    margin-top: 1px;
}
.link, .link:hover, .link:visited{
  color: black;
  text-decoration: none;
}
.rectangle{
  height: 20%;
}
.searchImage{
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.name{
  height: 50%;
}
.name .container{
  display: flex;
  justify-content: center;align-items: center;
  font-size: 18px;
}
.upper{
  font-weight: bold;
  font-size: 22px;
}



@media screen and (max-width: 722px) {
  
  #srchResults {
    display: none !important;
  }
  .centerNav {
    display: none;
    flex: 0 !important;
  }
  .icon-div{
    width: 11%;
  }
}
