body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke !important;
  overflow-x: hidden;
}

nav {
  display: flex;
  flex-direction: row;
  height: 44px;
  width: 100%;
  background-color: white !important;
  border-bottom: 1px solid #000;
}

.leftNav{flex: 1; justify-content: center; display: flex;}
.leftNav a img{
  height: 100%;
}
.centerNav{flex: 1;display: flex; align-items: center; justify-content: center;}
.rightNav {flex: 1;display: flex;align-items: center;justify-content: space-evenly;}
.icon-div{
  width: 15%;
  max-width: 38px;
  cursor: pointer;
  border-radius: 50%;
}
.icon{
  width: 100%
}
#srchResults{
  margin-left: 35%;
    width: 30%;
    min-width: 300px;
    max-width: 40%;
    overflow-y: auto;
    background-color: white;
    margin-top: 1px;
    border: 2.5px solid black;
    box-shadow: 20px 20px 20px grey;
    border-radius: 40px;
    z-index: 1000;
    position: absolute;
}
.link, .link:hover, .link:visited{
  color: black;
  text-decoration: none;
}
.rectangle{
  border-bottom: 1px solid grey;
  height: 20%;
  padding: 10px 0;
  display: flex;
}
#results{
  margin: 0 30px;
}
.searchImage{
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.name{
  height: 50%;
  position: relative;
  right: 0;
}
.container{
  display: flex;
  font-size: 18px;
}
.name-upper{
  font-weight: bold;
  font-size: 18px;
}
.name-lower{font-size: 12px;}
.dp{display: flex;justify-content: center;align-items: center;}
.icon{height: 35px; width:35px;border-radius: 50%;}


@media screen and (max-width: 722px) {
  
  #srchResults {
    display: none !important;
  }
  .centerNav {
    display: none;
    flex: 0 !important;
  }
  .icon-div{
    width: 11%;
  }
}

@media screen and (max-width: 990px) {
  
  .rightNav{
    flex: 1.4 !important;
  }
  .leftNav{
    flex: 1 !important;
  }
}
