<!DOCTYPE html>
<html lang="en">
  {% load static %}
  {% load crispy_forms_tags %} 
<head>
  <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DevOlogy | Reset your Password</title>
    <link rel="stylesheet" href="{% static 'auth/PasswordReset/css/password_reset.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'required/bootstrap.css' %}">
    <script src="{% static 'required/bootstrap.js' %}"></script>
    <script src="{% static 'required/jQuery.js' %}"></script>
    <script src="{% static 'required/typed.js' %}"></script>
    <script src="{% static 'required/ajax.js' %}"></script>
</head>
<body>


<div class="container">
  <div class="flex-h-center white-box" id="main">
    <div class="container-fluid logo-c flex-h-center"><img id="logo" src="{% static 'images/written-logo.png' %}" alt=""></div>
  
  <div class="err"><span id="err">{{error}}</span></div>
  <div class="container-fluid form flex-h-center">
    <div class="container-fluid mt-4 mb-4" style="text-align: center;">
      Please Provide us with your Email ID, so we can verify it's you .
    </div>
    <form method="POST" class="container-fluid form flex-h-center">
      {% csrf_token %}
      {% for field in password_reset_form %}
      {{field}}
      {% endfor %}              
      <button class="btn btn-primary form-content" type="submit" id="sub-btn">Submit</button>
    </form>
</div>
</div>
</div>
<script>
  $(document).ready(()=>{
    document.getElementById('id_email').placeholder = 'Email'
    $('label[for=id_email]').remove();
    $('#id_email').addClass('form-content');
  })
</script>
</body>
</html>