<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    
    <title>DevOlogy | Password Reset Done</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/PasswordReset/css/password_reset_done.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'required/bootstrap.css' %}">
    <script src="{% static 'required/bootstrap.js' %}"></script>
    <script src="{% static 'required/jQuery.js' %}"></script>
    <script src="{% static 'required/typed.js' %}"></script>
    <script src="{% static 'required/ajax.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="white-box flex-h-center" id='main'>
            <div class="container-fluid logo-c flex-h-center">
                <img id="logo" src="{% static 'images/written-logo.png' %}" alt="">
            </div>
            <div class="err"><span id="err"></span></div>
            <div class="container-fluid form flex-h-center mt-4" style="text-align: center;">Password Reset link was sent on the specified Email.</div>
        </div>
    </div>
</body>
</html>