<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <title>DevOlogy | Confirm new Password</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'auth/PasswordReset/css/password_reset_complete.css' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="{% static 'required/bootstrap.css' %}">
    <script src="{% static 'required/bootstrap.js' %}"></script>
    <script src="{% static 'required/jQuery.js' %}"></script>
    <script src="{% static 'required/typed.js' %}"></script>
    <script src="{% static 'required/ajax.js' %}"></script>
</head>
<body>
    <div class="container">
        <div class="white-box flex-h-center" id='main'>
            <div class="container-fluid logo-c flex-h-center">
                <img id="logo" src="{% static 'images/written-logo.png' %}" alt="">
            </div>
            <div class="err"><span id="err"></span></div>
            <div class="container-fluid form flex-h-center mt-4" style="text-align: center;">{% load crispy_forms_tags %}  
  
                <!--Password Reset Confirm-->
                  <div class="container p-5">
                      <form method="POST">
                          {% csrf_token %}
                          {{ form|crispy }}                    
                          <button class="btn btn-primary form-content" type="submit" id="sub-btn">Reset password</button>
                      </form>
                  </div></div>
        </div>
    </div>
    <script>
        $(document).ready(()=>{
            let x = document.getElementsByClassName('p-5')
            x[0].classList.remove('p-5')
            $('#div_id_new_password1 div ul').css('text-align', 'center')
            $('#div_id_new_password1 div ul').css('font-size', '13px')
            $('label[for=id_new_password1]').remove();
            $('label[for=id_new_password2]').remove();
            $('#id_new_password1').addClass('form-content');
            $('#id_new_password2').addClass('form-content');
            $('#id_new_password2').attr('placeholder', 'Confirm Password')
            $('#id_new_password1').attr('placeholder', 'Enter new Password')
            $('#error_1_id_new_password2').addClass('err')
            $('#error_2_id_new_password2').addClass('err')
            $('#error_3_id_new_password2').addClass('err')
            $('#error_4_id_new_password2').addClass('err')
            $('#error_1_id_new_password2').addClass('mt-3')
            $('#error_2_id_new_password2').addClass('mt-3')
            $('#error_3_id_new_password2').addClass('mt-3')
            $('#error_4_id_new_password2').addClass('mt-3')
            $('#error_1_id_new_password2').css('font-size', '12px')
            $('#error_2_id_new_password2').css('font-size', '12px')
            $('#error_3_id_new_password2').css('font-size', '12px')
            $('#error_4_id_new_password2').css('font-size', '12px')
            
            
        })
    </script>
</body>
</html>