body {
  width: 100vw;
  height: 100vh;
  background-color: whitesmoke !important;
  overflow-x: hidden;
}

input {
  text-align: center;
}

input:focus {
  text-align: left;
  outline: 1.5px solid black;
}

.white-box {
  background-color: white !important;
  width: 40%
}

.flex-h-center {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.logo-c {
  min-height: 70px;
  margin-top: 4%;
}

.form {
  min-height: 180px;
}

.extras {
  min-height: 100px;
}

.form-content {
  min-height: 40px;
  margin-top: 12px;
  width: 60%;
}

#main {
  margin-top: 11% !important;
  margin: 11% auto 0 auto !important;
  min-height: 350px;
  max-width: 400px;
}

#logo {
  height: 70px;
}

.flex-v-center {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.normalize-link {
  text-decoration: none;
  color: blue;
}

.normalize-link:hover {
  text-decoration: none;
  color: blue;
}

.normalize-link:visited {
  text-decoration: none;
  color: blue;
}

#signup {
  margin-top: 15px !important;
  max-width: 400px;
  margin: 5% auto 0 auto;
  padding: 5px 10px
}

.fb-btn {
  margin-left: auto !important;
}

.err {
  font-size: 15px;
  color: red;
}

.form-content-inp {
  width: 100% !important;
  height: 100% !important;
  display: block;
  height: 100%;
}

.form-cf {
  width: 60% !important;
  min-height: 40px;
  margin-top: 12px;
}

.form-content-err {
  min-height: 40px;
  margin-top: 12px;
  width: 12%;
  display: none;
}

/* .form-content-btn{min-height:40px ; margin-top: 12px; width: 60%;} */
.small-error {
  font-size: 10px;
  color: red;
  margin-top: 4px;
  margin-bottom: 4px;
}

.cntr {
  display: flex;
  flex-direction: column;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0 30px white inset !important;
}

input:-webkit-autofill {
  outline: none;
  border: 1px solid black
}

input:autofill {
  outline: none;
  border: 1px solid black
}

@media screen and (max-width: 600px) {
  .white-box {
    min-width: 98vw;
  }

}