body {
  width: 100%;
  height: 100%;
  background-color: whitesmoke !important;
}

.white-box-post-single {
  display: flex;
  justify-self: center;
  margin: auto;
  margin-top: 60px;
  background-color: white;
  min-height: 525px !important;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin-bottom: 60px !important;
  border: 1px solid gray;
}

.loader {
  position: absolute;
  z-index: 10000;
  margin: 5px 0;
  text-align: center;
}

.sp__left {
  width: auto;
  display: block !important;
  justify-content: flex-start;
  align-items: center;
}

.comments {
  flex: 1;
  overflow-y: auto;
  max-height: 100%;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.react-read-more-read-less {
  font-size: 12px;
  font-weight: 700;
  color: gray;
}

.image {
  height: 100%;
}

.sp__right {
  max-height: 100%;
  width: 35vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

.postImage {
  width: 100%;
  height: 100%;
}

.header {
  border-bottom: 1px solid gray;
}

.post-comment {
  width: 100%;
  height: 50px;
  display: flex;
  border-top: 1px solid gray;
}

.icons {
  width: 100%;
  display: flex;
  border-top: 1px solid gray;
}
.icons-container {
  width: 100%;
}

.input-box {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.input-box input {
  width: 80%;
  height: 90%;
  border: none;
  outline-color: white !important;
  border-color: white !important;
}
.main-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.more-comments {
  align-self: flex-end;
  width: 100%;
  text-align: center;
}

.comment-container {
  width: 100%;
  height: 14%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.more-comments > a {
  font-weight: 700;
  color: gray !important;
  font-size: small;
}

.comment-int-container {
  display: flex;
  min-height: 30px;
  width: 100%;
  justify-content: center;
  align-items: baseline;
  /* border-bottom: 0.5px solid gray;
    border-top: 0.5px solid gray; */
margin-bottom: 3px;
margin-top: 2px;
}
.cic-left {
  flex: 0.1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start !important;
  align-items: flex-start;
}
.cic-right {
  flex: 0.9;
  width: 100%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
.cmt-like {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 7px;
}
.cmt-user-dp {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: auto;
  margin-left: 5px;
  
}
.cmt-user-dp-link {
  margin-left: 5px;
  margin-right: 3px;
  margin-top: -2px;
}
.cmt-like {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cmt-username-link {
  font-weight: bold;
  color: black;
  margin-bottom: 0 !important;
  text-decoration: none;
  font-size: 12px;
}
.cmt-username {
  text-decoration: none !important;
}
.main-comments{
    padding-top: 2px;
}
@media screen and (max-width: 650px) {
  .white-box-post-single {
    width: 98% !important;
    height: 100% !important;
  }
}

@media screen and (max-width: 1100px) {
  .white-box-post-single {
    /* min-width: 60% !important; */
    width: 50%;
  }

  .sp__left {
    flex: 0;
    display: none;
  }

  .sp__right {
    flex: 1;
  }
}
